{{#if path}}
  {{#link-to 'directory' (query-params path=parentPath)}}
    Go to parent
  {{/link-to}}
{{/if}}

<hr />
<h1>{{path}}</h1>
<table class="table">
  <tbody>
    {{#each directories as |dir|}}
      <tr>
        <td>{{#link-to 'directory' (query-params path=dir.path)}}
          / {{dir.name}}
        {{/link-to}}</td>
      </tr>
    {{/each}}

    {{#each files as |file|}}
      <tr>{{file-browser/file model=file tagName="td"}}</tr>
    {{/each}}
  </tbody>
</table>
